.display-flex {
    display: flex;
}
.display-none{
    display: none;
}

.pos-fixed{
    position: fixed;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-left{
    justify-content: left;
}
.justify-content-right{
    justify-content: right;
}
.justify-content-space-between{
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.filter-drop-shadow {
    filter: drop-shadow(2px, 4px, 6px, black);
}

.search-icon {
    position: relative;
    top: 7px;
}

@media(min-width: 600px) {
    .top-navbar {
        box-shadow: 0 0 50px gray !important;
    }

    #top-action-section {
        display: flex;
        align-items: center;
    }
}

.user-list-item.active .user-list-arrow-icon {
    transform: rotate(180deg);
}

.user-list-item.active .collapsible-header {
    background-color: #388e3c80;
}

.user-list-item.active {
    background-color: #4caf4fbd;
}

table.highlight>tbody>tr:hover {
    background-color: #4caf4f46;
}

.container{
    width: 100% !important;
}

.add-user-modal-back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    z-index: 999;
}

.add-user-modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0px;
    z-index: 1000;
    left: 0px;
    right: 0px;
    bottom: -70vh;
    transition: all ease 0.5s;
}
.add-user-modal.show{
    bottom: 0;
    box-shadow: 0 0 10px black;
}

.add-user-modal > .row{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}